/* raiz onde a gente vai pegar as fontes e outras coisas */
:root{
    /* FONT */
    --fonte-CircularSp: ,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif)

    /*COLORS*/
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);

}